<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="path" value="D:\\PayuExeption\\" />
    <add key="PAYU_VERIFICATION_URL" value="https://test.payu.in/merchant/postservice.php?form=2" />
    <!--<add key="PAYU_VERIFICATION_URL" value="https://info.payu.in/merchant/postservice.php?form=2" />-->
    <add key="PAYU_BASE_URL" value="https://test.payu.in/_payment" />
     <!--<add key="PAYU_BASE_URL" value="https://info.payu.in/_payment" />-->
    <add key="PAYU_VERIFICATION_HASH" value="key|command|var1" />
    <add key="PAYU_HASH" value="key|txnid|amount|productinfo|firstname|email|udf1|udf2|udf3|udf4|udf5|udf6|udf7|udf8|udf9|udf10"/>
    <add key="MERCHANT_KEY" value="gtKFFx"/>	
	  <add key="MERCHANT_SALT" value="eCwWELxi"/>

  </appSettings>
  <connectionStrings>
    <add name ="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0}; Extended Properties='Excel 8.0;HDR={1}'"/>
    <add name ="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0}; Extended Properties='Excel 8.0;HDR={1}'"/>
    <add name="dbConnection" connectionString="Data Source=;Persist Security Info=False;User ID=sa;Initial Catalog=;Password=;"  providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

</configuration>
